name: CI for Jupyter Notebooks

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/notebook-testing.yaml'
      - 'recipes/Components/Langchain_Embeddings_Models.ipynb'
      - 'recipes/Components/Langchain_LLMs.ipynb'
      - 'recipes/Components/Langchain_Vector_Stores.ipynb'
      - 'recipes/Getting_Started/Getting_Started_with_WatsonX.ipynb'
      - 'recipes/Getting_Started/Getting_Started_with_NVIDIA.ipynb'
      - 'recipes/Getting_Started/Getting_Started_with_Replicate.ipynb'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/notebook-testing.yaml'
      - 'recipes/Components/Langchain_Embeddings_Models.ipynb'
      - 'recipes/Components/Langchain_LLMs.ipynb'
      - 'recipes/Components/Langchain_Vector_Stores.ipynb'
      - 'recipes/Getting_Started/Getting_Started_with_WatsonX.ipynb'
      - 'recipes/Getting_Started/Getting_Started_with_NVIDIA.ipynb'
      - 'recipes/Getting_Started/Getting_Started_with_Replicate.ipynb'

jobs:
  test-notebooks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip  
          pip install nbconvert nbclient ipykernel

      - name: Set Python Path
        run: |
          echo "PYTHONPATH=$GITHUB_WORKSPACE" >> $GITHUB_ENV

      - name: Run Jupyter Notebooks
        env:
          REPLICATE_API_TOKEN: ${{ secrets.REPLICATE_API_TOKEN }}
          WATSONX_APIKEY: ${{ secrets.WATSONX_APIKEY }}
          WATSONX_PROJECT_ID: ${{ secrets.WATSONX_PROJECT_ID }}
          WATSONX_URL: ${{ secrets.WATSONX_URL }}
          NVIDIA_API_KEY: ${{ secrets.NVIDIA_API_KEY }}
        run: |
          set -e
          echo "PYTHONPATH=$PYTHONPATH"
          notebooks=$(cat .github/notebook_lists/vanilla_notebooks.txt | grep -v '^#' | tr '\n' ' ')  
          for notebook in $notebooks; do 
            echo "Building virtual env"  
            rm -rf .venv
            python -m venv .venv
            source .venv/bin/activate
            pip install ipykernel
            echo "Installing kernel $kernel"
            kernel=$(basename $notebook)
            python -m ipykernel install --user --name $kernel 
            echo "Executing $notebook"
            jupyter nbconvert --to notebook --execute --ExecutePreprocessor.kernel_name $kernel --inplace $notebook
            deactivate
          done
